<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script th:src="@{/js/util.js}"></script>
    <script th:src="@{/js/auth.js}"></script>
</head>

<style>
    .navbar {
        background-color: #d9edf7;
    }
    .anchor{
        margin: 6px;
        background-color: #d9edf7;
        border-color: #d9edf7;
    }

    input, label {
        display:block;
    }
</style>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <h2>Home</h2>
        </div>
    </div>
</nav>

<br><br><br><br><br><br><br>

<div class="container">
    <div class="row">

        <div class="user-info" th:if="${user.verified}">
            <h1>
                Hi <span th:text="${user.name}"></span>
            </h1>
            <h3>Your Details:</h3>

            <p>
                <strong>Email:</strong>
                <span th:text="${user.email}"></span>
                <span th:if="${needUpdateEmail}" class="text-danger">
                    Please update your email
                </span>
            </p>

            <p>
                <strong>Phone:</strong>
                <span th:text="${user.phone}"></span>
                <span th:if="${needUpdatePhone}" class="text-danger">
                    Please update your phone number
                </span>
            </p>
        </div>

        <div class="form-group" th:if="${user.verified}">
            <form th:action="@{/edit-profile}" method="get" style="display:inline-block;">
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-user"></span>
                    Edit profile
                </button>
            </form>

            <form th:action="@{/change-password}"
                  th:if="${user.isLocalUser}"
                  method="get"
                  style="display:inline-block;">
                <button type="submit" class="btn btn-warning">
                    <span class="glyphicon glyphicon-lock"></span>
                    Change password
                </button>
            </form>

            <button type="button"
                    class="btn btn-success"
                    style="display:inline-block;"
                    onClick="createQRCode();">
                <span class="glyphicon glyphicon-qrcode"></span>
                Add One-Time password
            </button>

            <form th:action="@{/account-passkey}" method="get" style="display:inline-block;">
                <button type="submit" class="btn btn-danger">
                    <span class="glyphicon glyphicon-credit-card"></span>
                    Add passkey
                </button>
            </form>
        </div>

        <div class="form-group" th:if="${user.verified}">
            <form th:action="@{/departments/list}"
                  method="get"
                  style="display:inline-block;"
                  sec:authorize="hasRole('USER')">
                <button type="submit" class="btn btn-danger">
                    <span class="glyphicon glyphicon-th-list"></span>
                    Departments list
                </button>
            </form>
            <form th:action="@{/list}"
                  method="get"
                  style="display:inline-block;"
                  sec:authorize="hasRole('USER')">
                <button type="submit" class="btn btn-info">
                    <span class="glyphicon glyphicon-user"></span>
                    Users list
                </button>
            </form>
        </div>

        <div class="form-group" th:if="${!user.verified}">
            <form th:action="@{/auth/send-verify-token}"
                  method="post"
                  style="display:inline-block;">
                <button type="submit" class="btn btn-danger">
                    <span class="glyphicon glyphicon-ok-circle"></span>
                    Verify your account
                </button>
            </form>
        </div>

        <form th:action="@{/logout}" method="post">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-log-out"></span>
                    Logout
                </button>
            </div>
        </form>

    </div>
    <div class="row">
        <div class="col-auto text-center">
            <img id="qr" src="" class="img-fluid" style="max-width: 220px;" />
            <p id="qrText" class="fw-bold mt-2 mb-0" style="display: none;">
                Please scan QR code.
            </p>
        </div>
    </div>
</div>



</body>
</html>